@import "~styles/colors";

.opacityControl {
    display: inline-block;
}
.opacityContent {
    padding: 12px 15px;
}
.opacityLabel {
    composes: fontRobotoMono from "../../_core/styles/text.scss";
    margin-left: 10px;
    width: 35px;
    text-align: right;
    display: inline-block;
}
.sliderRoot {
    width: 100px;
    padding: 6px 0;
    display: inline-block;
}
