.datePickerSelection {
    position: relative;
    text-align: center;
    padding: 2px 5px;
}

.inputs {
    padding: 5px 0px;
}

.inputWrapper {
    composes: fontRobotoMono from "../../_core/styles/text.scss";
    padding: 3px 5px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    &:before {
        display: none;
    }
}

.input {
    padding: 0px;
}
